.imgNP{
  
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 50%; 
    height: auto;
}
.pNP{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 50%; 
    height: auto;
    font-size: 120%;
    font-family: 'Jura', sans-serif;
}