* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.quartofamiliafoto {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotodoquarto {
    border-radius: 25px;
    width: 700px;
    box-shadow: 2px 5px 5px black;
}
.fotodoprecodoquarto {
    border-radius: 25px;
    width: 700px;
    margin-top: 20px;
}


.quartocasalinput {
    width: 1000px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #BFCFF9; /* Cor de fundo azul desejada */
            padding: 15px; /* Adicione espaço interno para melhor aparência */
            border-radius: 100px; /* Borda arredondada para uma aparência mais suave */
            text-align: center; /* Centraliza o conteúdo dentro da div */
            margin-left: auto;
            margin-right: auto;
        }

        .quartocasalinput > div {
            flex: 1;
            margin-right: 20px; /* Adicione margem entre os elementos */
        }

        .quartocasalinput h2 {
            margin-bottom: 5px; /* Reduza a margem inferior do h2 */
        }

        .reservas {
            height: 25px; 
            width: 175px;
            border-radius: 15px;
            text-align: center;
            border: none; 

        }



       button {
        width: 170px;
        padding: 10px;
        border-radius: 45px;
        background-color: #2E57C0;
        color:white;
        text-align: center;
        border: none;
        font-size: 18px;
        }
